{% extends "inspection/base.html" %}

{% block page_head %}
  <div class="row">
    {% block head_left %}
      <div class="col-sm-4">
        <h3>Features...</h3>
      </div>
    {% endblock %}
    {% block head_right %}
      <div class="col-sm-8">

      </div>
    {% endblock %}
  </div>
{% endblock %}


{% block content_col %}

  <table class="table table-striped">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for item in object_list %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    {% empty %}
      <p>No current features.</p>
    {% endfor %}
  </table>

{% endblock content_col %}
