{% extends "inspection/base.html" %}

{% block page_head %}
  <div class="row">
    {% block head_left %}
      <div class="col-sm-4">
        <h3>{{ product.number }}, {{ product }}...</h3>
      </div>
    {% endblock %}
    {% block head_right %}
      <div class="col-sm-8">
      </div>
    {% endblock %}
  </div>
{% endblock %}

{% block content_col %}
	<table class="table table-striped">
		<tr>
			<th>Order #</th>
			<th>Date</th>
			<th>Quantity</th>
		</tr>
		{% for batch in object_list %}
			<tr>
				<td><a href="{% url 'inspection:report-list' batch.slug %}">{{ batch }}</a></td>
				<td></td>
				<td>{{ batch.quantity }}</td>
			</tr>
		{% empty %}
			<p>No product currently available.</p>
		{% endfor %}
	</table>
{% endblock content_col %}
