{% extends "inspection/base.html" %}

{% block page_head %}
  <div class="row">
    {% block head_left %}
      <div class="col-sm-6">
        <h3>Report...</h3>
      </div>
    {% endblock %}
    {% block head_right %}
      <div class="col-sm-6">
      </div>
    {% endblock %}
  </div>
{% endblock %}

{% block content_col %}
	{% if object_list %}
		<table class="table table-striped">
			<tr>
				<th>#</th>
				<th>Batch #</th>
			</tr>
			{% for report in object_list %}
				<tr>
					<td><a href="{% url 'inspection:report-detail' report.batch report.slug %}">{{ report }}</a></td>
					<td>{{ report.batch }}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>No report currently available.</p>
	{% endif %}
{% endblock content_col %}
